.main-box {
	position: fixed;
	top: 200px;
	width: 100%;
	z-index: 9999;
}
.normal {
	margin: 0 auto;
	width: 150px;
	background-color: #f0ff00;
	border:1px solid #eee;
	box-sizing: border-box;
	border-radius: 4px;
}
.normal > .content{
	margin: 20px;
	height: 100px;
	
}